.calculator {
  display: grid;
  align-content: space-around;
  margin: 20px auto;
  width: 302px;
  height: 462px;
  padding: 25px;
  box-sizing: border-box;
  background-image: linear-gradient(#939393, #656565);
}

.calculator-keys {
  display: grid;
  row-gap: 20px;
  column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.operatorStyle {
  font-weight: 100;
  font-family: 'open sans light',arial,sans-serif;;
}

button.clear {
  width: 116px;
  height: 48px;
  grid-column: span 3;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 3px;
  background: #8B8B8B;
  border: 1px solid white;
  color: white;
}

button.calc-input {
  justify-self: center;
  width: 48px;
  height: 48px;
  border: none;
  font-size: 30px;
}

button.calc-input.zero {
  width: 180px;
  grid-column: span 3;
  text-align: left;
  padding-left: 15px;
  background: #FFFF00;
}

button.calc-input.numeric {
  background: #FFFF00;
}

button.calc-input.operator {
  background: #50B3E8;
  color: white;
  border: 1px solid white;
}

.calculator-results {
  text-align: right;
  color: #FFFFFF;
  font-size: 40px;
  height: 55px;
}

.myOutputDisplay {
  overflow: hidden;
  white-space:nowrap;
  max-width: 250px;
}

button.current-operation {
  color: #0000DD !important;
  background: #AACC00 !important;
}
